PORT=3002
REDIS_URL=redis://localhost:6379
USER_SERVICE_URL=http://localhost:3001
MATCHING_TIMEOUT_MS=60000
WITH_AUTH=true
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-firebase-client-email
FIREBASE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
